<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Contactos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="filter" [formControl]="searchControl" placeholder="Buscar..." spellcheck="true" animated="true"></ion-searchbar>

  <button ion-item *ngFor="let contact of contacts" (click)="showDetails(contact)">
    <ion-icon name="contact" item-start large></ion-icon>
    <ion-icon name="ios-arrow-forward" item-end></ion-icon>

    <h2>{{ contact.fullName }}</h2>
    <p *ngIf="contact.hasFirstPhone">{{ contact.firstPhone }}</p>
    <p *ngIf="contact.hasSecondPhone">{{ contact.secondPhone }}</p>
  </button>
</ion-content>
